.carrosel-geral {
  perspective: 600px;
  transform-style: preserve-3d;
}

.conteudo-geral {
  transform: rotateY(calc(var(--compensacao) * 80deg))
    scaleY(calc(1 + var(--abs-compensacao) * -0.4))
    translateZ(calc(var(--abs-compensacao) * -30rem))
    translateX(calc(var(--direcao) * -5rem));
  filter: blur(calc(var(--abs-compensacao) * 1rem));
}

/* .cartao {
  background-color: hsl(200deg, 40%, calc(100% - var(--abs-compensacao) * 50%));
} */

.cartao p,
.cartao h2 {
  transition: all 0.3s ease-out;
  opacity: var(--ativo);
  user-select: none;
}

.navegacao {
  background: unset;
  border: unset;
}
.navegacao.esquerda {
  transform: translateX(-100%) translatey(-50%);
}
.navegacao.direita {
  transform: translateX(100%) translatey(-50%);
}