@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ae6211 21.43%,
    #c77e0b 50.63%,
    #d28d06 100%,
    #dc9d00 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
